@model CourseDetailsViewModel

<h3>@Model.Name</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="border rounded p-1">
                <p class="font-weight-bold">@Html.DisplayFor(model => model.SubjectName)</p>
                <p class="font-weight-bold">@Html.DisplayFor(model => model.DegreeName)</p>
                <p class="font-weight-bold">@Html.DisplayFor(model => model.SemesterName)</p>
            </div>
        </div>
        <div class="col-9">
            @if (Model.Enrollments.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="align-middle">
                                    @Html.DisplayNameFor(model => model.Enrollments.First().StudentFullName)
                                </th>
                                <th class="align-middle">
                                    @Html.DisplayNameFor(model => model.Enrollments.First().StudentUsername)
                                </th>
                                <th class="align-middle">
                                    @Html.DisplayNameFor(model => model.Enrollments.First().GradeName)
                                </th>
                                <th class="align-middle text-right">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var enrollment in Model.Enrollments)
                            {
                                <tr>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => enrollment.StudentFullName)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => enrollment.StudentUsername)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => enrollment.GradeName)
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <a asp-controller="Enrollments" asp-action="Edit" asp-route-enrollmentid="@enrollment.EnrollmentId" class="btn btn-primary mr-1">Edit</a>
                                        <a asp-controller="Enrollments" asp-action="Delete" asp-route-enrollmentid="@enrollment.EnrollmentId" class="btn btn-primary mr-1">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No enrollments found</p>
            }
        </div>
    </div>
</div>