@model TeachersListViewModel

<form asp-action="List" method="get" class="row">
    <div class="col-6">
        <input asp-for="SearchedUserName" class="form-control" placeholder="Username" />
    </div>
    <div class="col-6 d-flex justify-content-end">
        <input type="submit" value="Search" class="btn btn-primary w-25" />
    </div>
</form>
<hr />
<div class="row">
    <div class="col-12">
        @if (Model.Teachers.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th class="align-middle">
                                @Html.DisplayNameFor(model => model.Teachers.First().FirstName)
                            </th>
                            <th class="align-middle">
                                @Html.DisplayNameFor(model => model.Teachers.First().LastName)
                            </th>
                            <th class="align-middle">
                                @Html.DisplayNameFor(model => model.Teachers.First().UserName)
                            </th>
                            <th class="d-flex justify-content-end">
                                <a asp-controller="Teachers" asp-action="Create" class="btn btn-primary">Create teacher</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var teacher in Model.Teachers)
                        {
                            <tr>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => teacher.FirstName)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => teacher.LastName)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => teacher.UserName)
                                </td>
                                <td class="d-flex justify-content-end">
                                    <a asp-controller="Admins" asp-action="Edit" asp-route-adminid="@teacher.TeacherId" class="btn btn-primary mr-1">Edit</a>
                                    <a asp-controller="Admins" asp-action="Details" asp-route-adminid="@teacher.TeacherId" class="btn btn-primary mr-1">Details</a>
                                    <a asp-controller="Admins" asp-action="Delete" asp-route-adminid="@teacher.TeacherId" class="btn btn-primary">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No admins found</p>
        }

    </div>
</div>
